
<section id="contact">
  <div class="row">
    <div class="col-lg-12">
      <h2>Get in touch</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <form class="form-horizontal" action="https://formspree.io/contact@p-jo.se" method="POST">
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_subject" value="Från Digidem Lab" />
        <input type="hidden" name="_next" value="http://digidemlab.org" />

        <div class="form-group">
          <label for="inputName" class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input type="text" name="name" class="form-control" id="inputName" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-10">
            <input type="email" name="_replyto" class="form-control" id="inputEmail" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="inputMessage" class="col-lg-2 control-label">Message</label>
          <div class="col-lg-10">
            <textarea name="message" rows="5" class="form-control" id="inputMessage" placeholder=""></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Send" class="btn btn-default">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
