{% assign projects=site.projects | where:"lang", page.lang %}

{% for item in projects %}
  <div class="{% cycle 'bg-faded', '' %}">
    <div class="container py-3b py-lg-3c">
      <div class="row">
        <div class="col">
          <h2 class="display-2 mb-0b mb-lg-2b"><a href="{{site.baseurl}}{{item.url}}" class="{% cycle 'text-info', '' %}">{{item.title}}</a></h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-9">
          <p class="lead">{{item.excerpt}}</p>
          <p>{{ item.ingress-text | strip_html }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xl-4 offset-xl-1 push-lg-7">
          {% include content/page-links.html links=item.links %}
        </div>
        <div class="col-lg-7 pull-lg-5  hidden-xs-down">
          {% include content/partners.html partners=item.partner-links partner-text=item.partner-text %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
