<div class="d-flex justify-content-center">
  <div class="py-2 px-1 px-sm-2"><a href="https://medium.com/digidemlab" class="text-white"><i class="fa fa-medium fa-3x" aria-hidden="true"></i></a></div>
  <div class="py-2 px-1 px-sm-2"><a href="https://www.instagram.com/digidemlab/" class="text-white"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></div>
  <div class="py-2 px-1 px-sm-2"><a href="https://www.facebook.com/digidemlab" class="text-white"><i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i></a></div>
  <div class="py-2 px-1 px-sm-2"><a href="https://twitter.com/digidemlab" class="text-white"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></div>
  <div class="py-2 px-1 px-sm-2"><a href="https://github.com/digidemlab" class="text-white"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></div>
</div>
