<form class="form" role="form">
  {% for item in include.form %}
    {% case item.type %}
      {% when 'radio' %}
      <div class="form-group padding">
        <label for="{{ item.id }}" class="control-label">{{ item.title }}</label>
        <div class="col-sm-10">
          {% for option in item.options %}
            <label class="radio-inline">
              <input type="{{ item.type }}" name="{{ item.id }}" id="{{ option.id }}" value="{{ option.id }}"> {{ option.name }}
            </label>
          {% endfor %}
        </div>
      </div>
      {% when 'checkbox' %}
      <div class="form-group padding">
        {% for option in item.options %}
          <div class="col-sm-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="{{option.id}}">{{option.name}}
              </label>
            </div>
          </div>
        {% endfor %}
      </div>
      {% when 'textarea' %}
      <div class="form-group padding">
        <label for="{{ item.id }}" class="">{{ item.title }}</label>
          <textarea class="form-control" id="{{ item.id }}" rows="2"></textarea>
      </div>
      {% when 'submit' %}
        <div class="form-group">
          <div class="clearfix"></div>
          <div class="text-center">
            <button type="{{ item.type }}" class="btn btn-primary btn-lg">{{ item.title }}</button>
          </div>
        </div>
      {% when 'belopp' %}

        <label for="{{ item.id }}" class="">{{ item.title }}</label>
        <div class="clearfix"></div>
        <div class="row padding">
          {% for option in item.options %}
            <div class="col-xs-6 col-sm-4 col-md-2">
              <br>
              <button class="donation-button btn btn-default btn-block btn-lg {% if value.default %} active {% endif %}" data-string="{{ value.text }}">
                {{ option }} kr
              </button>
            </div>
          {% endfor %}
          <div class="col-xs-6 col-sm-4 col-md-3 padding">
            <div class="form-group">
              <label class="sr-only" for="inputSum">Valfritt belopp</label>
              <br>
              <div class="input-group">
                <input class="form-control input-lg" type="number" id="inputSum" placeholder="Valfritt belopp">
                <div class="input-group-addon">kr</div>
              </div>
            </div>
          </div>
        </div>
      {% when 'markup' %}
        <div class="clearfix"></div>
        <p class="text-center">{{item.title}}</p>
      {% else %}
        <div class="col-sm-6">
          <div class="form-group padding">
            <label for="{{ item.id }}" class="">{{ item.title }}</label>
            <input type="{{ item.type }}" class="form-control" id="{{ item.id }}" placeholder="">
          </div>
        </div>
      {% endcase %}
  {% endfor %}

</form>