{% for item in page.banners %}

  {% unless forloop.first %}
    {% if item.format == "wide" %}
      </div> <!-- end row -->
    {% endif %}
  {% endunless %}

  {% if forloop.first or item.format == "wide" %}
    <div class="row no-gutters"> <!-- start row -->
  {% endif %}

    {% if item.format == 'wide' %}
      <div class="col"> <!-- start col 100% -->
    {% elsif forloop.index == 2 and page.banners[2].format == 'tall' %}
    <!-- second image -->
    {% else %}
      <div class="col-6"> <!-- start col 50%-->
    {% endif %}

      <div style="position:relative;">
        <img class="img-responsive w-100" src="{{site.baseurl}}{{item.image}}" alt="" style="max-width:100%;">
        {% if item.link %}
          <a href="{{item.link}}">
            <div class="card-img-overlay">
              <h3 class="card-header border-0">
                <span class="bg-{% cycle 'danger', 'primary', 'success' %} text-{% cycle 'warning', 'success', 'info' %} text-uppercase px-2 py-1">
                  {{item.title}}
                </span>
              </h3>
            </div>
          </a>
        {% endif %}
      </div>

    {% unless forloop.index == 1 and page.banners[2].format == 'tall' %}
      </div> <!-- end col -->
    {% endunless %}

  {% if forloop.last or item.format == "wide" %}
    </div> <!-- end row -->
  {% endif %}

{% endfor %}
