<section id="contact" class="bg-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center px-3">
        <h2 class="display-2 text-white mb-lg-1">{{site.contact[page.lang].title}}</h2>
        <p class="text-white">{{site.contact[page.lang].text}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-white text-center" style="font-size:1rem;">
          Petter Joelson, <a  class="text-white" href="http://digidemlab.org">Digidem Lab</a>, <a class="text-white" href="mailto:petter@digidemlab.org">petter@digidemlab.org</a><br>
          Bruno Chies, <a  class="text-white" href="http://solikyl.se/">Solidariskt Kylskåp</a>, <a class="text-white" href="mailto:bruno@solikyl.se">bruno@solikyl.se</a></p>
      </div>
    </div>
  </div>
</section> <!-- /contact -->
