<section id="contact" class="bg-primary">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center px-3">
        <h2 class="display-2 text-white mb-lg-1">{{site.contact[page.lang].title}}</h2>
        <p class="text-white">{{site.contact[page.lang].text}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-white text-center" style="font-size:1rem;">
          Victoria Bull, <a  class="text-white" href="https://digidemlab.org">Digidem Lab</a>, <a class="text-white" href="mailto:victoria@digidemlab.org">victoria@digidemlab.org</a><br>
          Mattias Axell, <a  class="text-white" href="https://digidemlab.org">Digidem Lab</a>, <a class="text-white" href="mailto:mattias@digidemlab.org">mattias@digidemlab.org</a></p>
      </div>
    </div>
  </div>
</section> <!-- /contact -->
