<section id="partners" class="">

  <div class="container py-3">
    <div class="row">
      <div class="col-4">
        <h2 class="display-3">Ett initiativ från</h2>
          <a href="http://digidemlab.org" title="Digidem Lab">
            <img src="{{site.baseurl}}/uploads/logo-digidemlab.png" alt="Digidem Lab" class="img-fluid">
          </a>
      </div>
      <div class="col-8">
        <h2 class="display-3">I samarbete med</h2>
        <div class="row">
          {% for item in site.partners %}
            <div class="col-4 col-md-3 pb-1">
              <a href="{{item.link}}" title="{{item.title}}">
                <img src="{{site.baseurl}}{{item.logo}}" alt="{{item.title}}" class="img-fluid">
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="bg-danger">

  <div class="container pt-2 pb-1">
    {% include social.html %}
  </div>
</footer>
