<section id="partners" class="">

  <div class="container py-3">
    <div class="row">
      <div class="col-4">
        <h2 class="display-3">Ett initiativ från</a>
        <img data-src="holder.js/300x120?text=DigidemLab&auto=yes" class="img-fluid">
      </div>
      <div class="col-8">
        <h2 class="display-3">I samarbete med</a>
        <div class="row">
          <div class="col-4 pb-1">
            <img data-src="holder.js/300x200?text=Solidariskt Kylskåp&auto=yes" class="img-fluid">
          </div>
          <div class="col-4">
            <img data-src="holder.js/300x200?text=Skjutsgruppen&auto=yes" class="img-fluid">
          </div>
          <div class="col-4">
            <img data-src="holder.js/300x200?text=Någon mer&auto=yes" class="img-fluid">
          </div>
          <div class="col-4">
            <img data-src="holder.js/300x200?text=En till&auto=yes" class="img-fluid">
          </div>
          <div class="col-4">
            <img data-src="holder.js/300x200?text=Fler&auto=yes" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="bg-danger">

  <div class="container pt-2 pb-1">
    {% include panels/social.html %}
  </div>
</footer>
