<form action="https://getsimpleform.com/messages?form_api_token=664c93d75c29481adefb93fcedf0be86" method="POST" encType="multipart/form-data">
   {% for item in page.form %}
    <div class="field">
    {% case item.type %}
      {% when 'markup' %}
        <h4>{{item.title}}</h4>

      {% when 'radio' %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>
          <div class="control">
            {% for option in item.options %}
              <label class="{{ item.type }}">
                <input type="{{ item.type }}" name="{{ item.id }}" id="{{ option.id }}" value="{{ option.id }}"> {{ option.name }}
              </label>
            {% endfor %}
          </div>

      {% when 'select' %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>
        <div class="control">
          <div class="{{ item.type }} is-fullwidth">
            <select>
              {% for option in item.options %}
                <option>{{option.name}}</option>
              {% endfor %}
            </select>
          </div>
        </div>

      {% when 'checkbox' %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>
        <div class="control">
          {% for option in item.options %}
            <label class="{{ item.type }}" for="{{option.id}}">
              <input type="{{ item.type }}" value="{{option.name}}" name="{{option.id}}" id="{{option.id}}">
              {{option.name}}
            </label>
          {% endfor %}
        </div>

      {% when 'textarea' %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>
          <div class="control">
            <textarea class="{{ item.type }}" name="{{ item.id }}" id="{{ item.id }}" rows="3" {{ item.required }}></textarea>
          </div>

      {% when 'submit' %}
        <div class="control">
          <button type="{{ item.type }}" class="button is-warning">
            {{ item.title }}
          </button>
        </div>

      {% when 'hidden' %}
        <input type="{{ item.type }}" name="{{ item.id }}" value="{{ item.value }}">

      {% when 'file' %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>

        <div class="file has-name">
          <label class="file-label">
            <input class="file-upload" type="{{ item.type }}" name="{{ item.id }}" id="{{ item.id }}">
          </label>
        </div>


      {% else %}
        <label for="{{ item.id }}" class="label">{{ item.title }}</label>
        <div class="control">
          <input type="{{ item.type }}" name="{{ item.id }}" class="input" id="{{ item.id }}" placeholder="" {{ item.required }}>
        </div>

      {% endcase %}
      {% if item.description %}
        <p class="help">{{item.description}}</p>
      {% endif %}
    </div>
  {% endfor %}

</form>
