<div id="navbarMenuHeroA" class="navbar-menu">
	<div class="navbar-end">
		{% include menu-lang.html %}
		<a class="navbar-item" href="{{site.data.menu[page.lang][0].url}}">{{site.data.menu[page.lang][0].title}}</a>

		<div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">
        {{site.data.menu[page.lang][1].title}}
      </a>
      <div class="navbar-dropdown">
				{% assign groups=site.groups | where:"lang", page.lang %}
				{% for item in groups %}
					<a href="{{item.url}}" class="navbar-item">{{item.title}}</a>
				{% endfor %}
				<a class="navbar-item">Starta i din stad!</a>
      </div>
    </div>

		<a class="navbar-item" href="https://chat.civictech.se">{{site.data.menu[page.lang][2].title}} &nbsp;<span class="icon"><i class="fab fa-rocketchat fa-lg"></i></span></a>
	</div>
</div>
