{% assign hackathons=site.hackathons | where:"ref", page.ref | sort: 'lang' %}
{% for item in hackathons %}
  <li class="nav-item {% if item.lang == page.lang %}active{% endif %}">
    <a class="nav-link py-0 text-uppercase {{ item.lang }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  </li>
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for item in pages %}
  <li class="nav-item {% if item.lang == page.lang %}active{% endif %}">
    <a class="nav-link py-0 text-uppercase {{ item.lang }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  </li>
{% endfor %}
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for item in posts %}
  <li class="nav-item {% if item.lang == page.lang %}active{% endif %}">
    <a class="nav-link py-0 text-uppercase {{ item.lang }}" href="{{ site.baseurl }}{{ item.url }}">{{ item.lang }}</a>
  </li>
{% endfor %}
