<div class="column is-half-tablet is-one-third-desktop">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3 is-primary">
        <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}{{post.image}}" alt=""></a>
      </figure>
    </div>
    <div class="card-content">
      <h3 class="title has-text-centered"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
      {{post.excerpt}}
    </div>
    <div class="card-footer">
      <a class="card-footer-item right" href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/assets/images/pil.svg" alt="Läs mer"></a>
    </div>
  </div>
</div>
