{% assign hackathons=site.hackathons | where:"lang", page.lang | sort:'event-date'%}

{% for item in hackathons %}
  <div class="{% cycle 'bg-faded', '' %}">
    <div class="container py-3b py-lg-3c">
      <div class="row">
        <div class="col">
          <h2 class="display-2 mb-0b mb-lg-2b"><a href="{{site.baseurl}}{{item.url}}" class="text-primary">{{item.title}}</a></h2>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-9">
          <h3 class="mb-0">{{item.event-date-desc}} - {{item.place}}</h3>
          <p class="lead text-primary">{{item.excerpt}}</p>
          <p class="">{{ item.ingress-text | strip_html }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-5 col-xl-4 offset-xl-1 push-lg-7">
          {% include page-links.html links=item.links %}
        </div>
        <div class="col-lg-7 pull-lg-5  hidden-xs-down">
          {% include partners.html partners=item.partner-links partner-text=item.partner-text %}
        </div>
      </div>
    </div>
  </div>
{% endfor %}
