<div class="is-pulled-right">
  <a href="https://app.element.io/#/room/#civictechse:matrix.org" class="has-text-white"><span class="icon is-large"><i class="fab fa-rocketchat fa-3x" aria-hidden="true"></i></span></a>
  <a href="https://medium.com/civictechsweden" class="has-text-white"><span class="icon is-large"><i class="fab fa-medium fa-3x" aria-hidden="true"></i></span></a>
  <a href="https://github.com/civictechsweden" class="has-text-white"><span class="icon is-large"><i class="fab fa-github fa-3x" aria-hidden="true"></i></span></a>
</div>
