//
// Custom styles
//


// General

body {
  font-size: 0.875rem;
}

.title {
  font-family: $family-headlines;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  line-height: 1.5;
}

.button.is-text {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  font-weight: bold;
  font-size: 1rem !important;
}

.card .image {
  overflow: hidden;

  img {
    height: auto !important;
  }
}

.card {
    display:flex;
    flex-direction: column;
    height: 100%;
}
.card-footer {
    margin-top: auto;
}

.card-footer-item {

  &.left {
    justify-content: left;
  }

  &.right {
    justify-content: right;
  }
}


// Hero

.hero-image {
  background-image: url('/assets/images/hero.jpg');
  background-size: cover;
  background-position: top center;
}

.navbar-menu:not(.is-active) {
  max-height: 3rem;
}

.select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
  border-width: 1px;
  border-radius: 0;
}

.hero .navbar-item,
.hero .navbar-link {
  color: $navbar-item-color !important;

  &:hover,
  &.is-active {
    background: $navbar-item-hover-background-color !important;
    text-decoration: underline;
  }
}

.navbar-brand .navbar-item {
  max-width: 80%;
}

.navbar-item img {
  max-height: inherit;
}

.is-front .hero-body {
  padding-top: 0 !important;
}

.hero-foot {
  padding: 0 1.5rem 3rem;
}

.arrow {
  display: inline-block;
  background: url('/assets/images/pil-thin.svg') $primary 0 0 no-repeat;
  padding-left: 30px;
}

.arrow-line {
  background: url('/assets/images/pil-line.svg') 0 11px repeat-x;
}

// Mission

.mission-image {
  margin: 0 auto;
}

.mission > p:before {
  content: '”';
  display: block;
  margin-bottom: 2rem;
}

.container.mission {
  padding: 4rem 7.5rem 7rem;
}

// Partners

.columns.partners {
  border: 3px solid $grey-lighter;
  border-width: 3px 0;
}

.partner-image {
  max-width: 128px;
  margin: 2rem auto;
}

// Footer
.icon.is-large {
  margin-left: 2rem;
}

// Content

.content {
  font-size: 1rem;
  line-height: 1.75;
}

.content p {
  margin-bottom: 1.75em;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-size: 1em;
  font-weight: bold;
}

.content h2:not(:first-child) {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.content h3:not(:first-child) {
  margin-top: 1.75rem;
}



/** ---------------- **/

// Project

.contact {
  margin-top: 5rem;
}


// Event

.is-overlapping {
  margin-top: -25rem;
}
