---
title: Events
description: Hackathons and meetups
layout: global
ref: events
redirect_from:
  - /calendar/
---

{% assign events=site.events | where:"lang", page.lang | sort:'event-date' | reverse %}
{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}

<section class="section is-medium">
  <div class="container">
    <h1 class="title is-1 section-title has-text-centered">{{page.title}}</h1>
    {% for item in events %}
      {% capture posttime %}{{item.event-date | date: '%s'}}{% endcapture %}
      {% if posttime > nowunix %}
        {% include events.html %}
      {% endif %}
    {% endfor %}

  </div>
</section>
<section class="section is-medium">
  <div class="container">
    <h2 class="title is-2 has-text-centered">
      {{site.t[page.lang].event-previous}}
    </h2>

    {% for item in events %}
      {% capture posttime %}{{item.event-date | date: '%s'}}{% endcapture %}
      {% if posttime < nowunix %}

        {% include events.html %}
      {% endif %}
    {% endfor %}

  </div>
</section>
