---
layout: global
---

<article id="event" class="section is-medium is-overlapping">

  <div class="columns is-centered">
    <div class="column is-three-quarters">
      <div class="box event">
        <h1 class="title is-1">{{page.title}}</h1>
        <p>
  				<strong>{{page.event-date-desc}} /
  					{{page.place}}
  				</strong>
  			</p>
        <p class="title is-5">{{page.ingress-text}}</p>

        {% if page.links[0].title %}
          {% include page-links.html links=page.links %}
        {% endif %}

        <div class="columns is-centered">
          <div class="column is-three-quarters-desktop">
            <div class="content">
              {{content}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
