---
layout: default
---

{% include header.html %}

{{content}}

<!-- Projects in Event -->
{% assign projects=site.categories[page.ref] | where:"lang", page.lang %}
{% if projects[0].title %}
  <section class="section is-medium has-background-light">
    <div class="container">
      <h2 class="section-title title has-text-centered">{{site.projects[page.lang]}}</h2>
      <div class="columns is-multiline">
        {% assign projects=site.categories[page.ref] | where:"lang", page.lang %}
        {% for post in projects %}
          {% include projects.html %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

<!-- Event partners -->
{% if page.partners %}
  <section id="partners" class="section has-background-light">
    <div class="container">
      <h2 class="section-title title has-text-centered">{{site.partner[page.lang].partnership}}</h2>
      <div class="columns partners is-mobile is-vcentered is-multiline">
        {% for item in page.partners %}
          {% include partner.html %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}

{% include footer.html %}
