---
layout: global
---

<article class="section">

  <div class="columns is-centered">
    <div class="column is-three-quarters has-text-centered">
      <h1 class="title is-1">{{page.title}}</h1>
      <h2 class="title is-6">
        <!-- Events -->
        {% assign events=site.events | where:"lang", page.lang %}
        {% for item in events %}
          {% if page.categories contains item.ref %}
            {% assign partof=true %}
            <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
          {% endif %}
        {% endfor %}
      </h2>

      <p class="title is-5">{{page.ingress-text}}</p>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <div class="content">
        {{content}}

        {% if page.contact %}
          {% for item in page.contact %}
            <div class="columns contact">
              <div class="column is-narrow">
                <figure class="image is-96x96">
                  <img class="is-rounded" src="{{site.baseurl}}{{item.image}}">
                </figure>
              </div>
              <div class="column">
                <h3 class="no-margin">{{item.name}}</h3>
                {% if item.organisation %}
                  <h4><a href="{{item.organisation-link}}">{{item.organisation}}</a></h4>
                {% endif %}
                {{item.text}}<br>
                {% if item.phone %}{{item.phone}}<br>{% endif %}
                <a href="mailto:{{item.mail}}">{{item.mail}}</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>
  </div>

</article>

<!-- Part of Event -->
{% if partof %}
  <section class="section is-medium has-background-light">
    <div class="container">
      <h2 class="title has-text-centered">{{site.project-title[page.lang]}}</h2>
      {% for item in events %}
        {% if page.categories contains item.ref %}
          {% include events.html %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}

<!-- Group events -->
{% assign groupevents=events | where:"group", page.ref %}
{% if groupevents[0].title %}
  <section class="section">
    <div class="container">
      <h2 class="title has-text-centered">{{site.project-title[page.lang]}}</h2>
      {% for item in groupevents %}
        {% include events.html %}
      {% endfor %}
    </div>
  </section>
{% endif %}
