---
layout: global
---

<article>
  <div class="container mb-3">
    {% include page-header.html %}
    <div class="row">
      <div class="col content">
        {{content}}

        <!-- Projects in Hackathon -->
        {% if site.categories[page.ref] %}
          <h2>{{site.projects[page.lang]}}</h2>

          {% assign projects=site.categories[page.ref] | where:"lang", page.lang %}
          {% for item in projects %}
            <h3><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h3>
            <p>{{item.excerpt}}</p>
          {% endfor %}

        {% endif %}

      </div>
    </div>
  </div>

  <!--
  {% if site.categories[page.ref] %}

    <div class="container pt-2">
      <div class="row">
        <div class="col">
          <h2 class="display-3">{{site.projects[page.lang]}}</h2>
        </div>
      </div>
    </div>

    {% assign projects=site.categories[page.ref] | where:"lang", page.lang %}
    {% for item in projects %}
      <div class="{% cycle 'bg-faded', '' %}">
        <div class="container py-4">
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
              <div class="row">
                <div class="col-8 offset-2 offset-sm-0 col-sm-4 text-center mb-2">
                  <a href="{{site.baseurl}}{{item.url}}">
                    <img class="w-100" src="{{site.baseurl}}{{item.image}}">
                  </a>
                </div>
                <div class="col-12 col-sm-8">
                    <h2 class="mb-1">
                      <a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a>
                    </h2>
                  <p>
                    {{item.excerpt}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  -->


  {% if page.contact %}
    <div class="bg-faded">
      <div class="container py-3 py-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="text-uppercase">{{site.projectmanager[page.lang]}}</h2>
          </div>
          <div class="col-lg-8">
            {% for item in page.contact %}
              <div class="row mb-2 mb-lg-0 {% if forloop.index > 1 %}mt-lg-3{% endif %}">
                <div class="col-3">
                  <img class="w-100" src="{{site.baseurl}}{{item.image}}">
                </div>
                <div class="col-9 col-md-6">
                  <p class="small">
                    <strong>{{item.name}}</strong><br>
                    {% if item.organisation %}
                      <a href="{{item.organisation-link}}">{{item.organisation}}</a><br>
                    {% endif %}
                    {{item.text}}<br>
                    {% if item.phone %}{{item.phone}}<br>{% endif %}
                    <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


</div>
</article>
