---
layout: global
---

<article>
  <div class="container mb-3">
    {% include page-header.html %}
    <div class="row">
      <div class="col content">
        {{content}}

        <!-- Projects in Hackathon -->
        {% if site.categories[page.ref] %}
          <h2>{{site.projects[page.lang]}}</h2>

          {% assign projects=site.categories[page.ref] | where:"lang", page.lang %}
          {% for item in projects %}
            <h3><a href="{{site.baseurl}}{{item.url}}">{{item.title}}</a></h3>
            <p>{{item.excerpt}}</p>
          {% endfor %}

        {% endif %}

        <!-- Anmälningsformulär -->
        {% if page.form %}
          <h3 id="register">{{site.register[page.lang]}}</h3>
          <p>{{site.register_desc[page.lang]}}</p>
          {% include form.html %}
        {% endif %}

      </div>
    </div>
  </div>

  {% if page.contact %}
    <div class="bg-faded">
      <div class="container py-3 py-lg-4">
        <div class="row">
          <div class="col-lg-3">
            <h2 class="text-uppercase">{{site.projectmanager[page.lang]}}</h2>
          </div>
          <div class="col-lg-8">
            {% for item in page.contact %}
              <div class="row mb-2 mb-lg-0 {% if forloop.index > 1 %}mt-lg-3{% endif %}">
                <div class="col-3">
                  <img class="w-100" src="{{site.baseurl}}{{item.image}}">
                </div>
                <div class="col-9 col-md-6">
                  <p class="small">
                    <strong>{{item.name}}</strong><br>
                    {% if item.organisation %}
                      <a href="{{item.organisation-link}}">{{item.organisation}}</a><br>
                    {% endif %}
                    {{item.text}}<br>
                    {% if item.phone %}{{item.phone}}<br>{% endif %}
                    <a href="mailto:{{item.mail}}">{{item.mail}}</a>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}


</div>
</article>
