---
layout: default
---
<section class="hero is-primary is-medium">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item">
              Om oss
            </a>
            <a class="navbar-item">
              Joina chatten
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Title
      </h1>
      <h2 class="subtitle">
        Subtitle
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <div class="container">
      <div class="field is-grouped is-pulled-right">
        {% for item in site.groups %}
          <p class="control">
            <a href="{{item.url}}" class="button is-text">{{item.title}}</a>
          </p>
        {% endfor %}
        <p class="control">
          <a class="button">
            Starta i din stad!
          </a>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      {% for item in page.principles %}
        <div class="column">
          <h3 class="title">{{item.title}}</h3>
          <p>{{item.text}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <p class="mb-2b lead text-primary">{{page.news-flash[0].text}}</p>
    <div>
      <a href="{{site.baseurl}}{{page.news-flash[0].link}}" class="icon-arrow-blue pl-4 pl-lg-3">{{page.news-flash[0].link-title}}</a>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title">{{site.project-title[page.lang]}}</h2>
    {% include projects.html %}

  </div>
</section>


{% include footer-partners.html %}
{% include footer.html %}
